{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Sign up / Login Form</title>
    <link rel="stylesheet" href="{% static './style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'slide navbar style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">

        <form method="post">
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Sign up</label>
            {% for error in form.phone.errors %}
                <center><h3 class="alert alert-warning" style="color: #302b63">{{ error }}</h3></center>
            {% endfor %}
            {{ form.phone }}
            <button>Send</button>
        </form>
    </div>

    <div class="login">

    </div>
</div>
</body>
</html>
<!-- partial -->

</body>
</html>
